    <button class="menu-btn">☰
        <span></span>
        <span></span>
        <span></span>
    </button>


    <div class="sidebar-overlay"></div> 
    
    <aside class="sidebar"> 
        <header class="sidebar-header">
            <a href="index.html" class="site-logo">
                <span class="logo-main">3D Menu</span>
                <span class="logo-sub">3D Menu Showcase</span>
            </a>
        </header>

        <nav id="main-menu" class="sidebar-nav">
            <ul>
                <li class="nav-item"><a href="index.html">Dashboard</a></li>
                <li class="nav-item has-submenu">
                    <a href="index.html#food-items">Our Menu</a>
                    <ul class="submenu">
                        <li class="nav-item"><a href="index.html">Main Course</a></li>
                        <li class="nav-item"><a href="drinks.html" style="color: #fff;">Drinks and Wine</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a href="#">Upload Model</a></li>
                <li class="nav-item"><a href="#">Contact Us</a></li>
            </ul>
        </nav>
        

    </aside>